
body {
  background-image: linear-gradient(to right, #4daf54, #3d8880);
}

a{
  text-decoration: none;
}

.search-container{
  justify-content: center;
  align-items: center;
  margin: 5%;
  
}
.image-results{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-evenly;
} 

.img-list a {
  margin: auto;
  width: 500px;
  height: 100vh;
  padding: 20px;
  float: inherit;
  transition: .5s ease;
} 
 .middle {
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 30px;
  transform: translateY(-150px); 
   -ms-transform: translateY(-150px); 
  text-align: center;
  background-color: rgba(255,255,255,.15);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

} 
 .image-list:hover {
  opacity: 0.3;
  -webkit-filter: blur(5px);
} 

.image-results:hover .middle {
  opacity: 1;
  
} 


input[type=text] {
  width: 300px;
  height: 50px;
  font-size: 30px;
  color: white;
  text-align: center;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: rgba(255,255,255,.15);
  border: 2px solid rgba(255,255,255,.15) ;
  border-radius: 25px;
 
}


input[type=text]:focus {
  width: 600px;
  outline: none;
}


::placeholder {
  color: white;
  font-weight: lighter;
}


.btn-warning{
  color: #fff;
  font-size: 2.4rem;
  background-color: rgba(255,255,255,.15);
  border: 2px solid rgba(255,255,255,.15) ;
  border-radius: 50%;
  outline: none;
  transition: all 0.3s
} 

.btn-warning:active{
  background-color: rgb(28, 141, 107);
  opacity: 0;
  transition: all 0.2s

}

.search-container{
  display: flex;
}