
body {
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #4daf54, #3d8880);
}

/* .image-results{
  display: flex;
  width:100vw;
  height: 100vh;
}

.img-list a {
  display: flex;
  margin: auto;
  max-width: 1024px;
} */

input[type=text] {
  width: 30%;
  height: 30px;
  font-size: 30px;
  color: white;
  text-align: center;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: rgba(255,255,255,.15);
  border: none;
  
}


input[type=text]:focus {
  width: 80%;
}